.navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 10px 0;
  border-top: 1px solid #444;
}

.navigation-bar button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 16px;
  cursor: pointer;
}

.navigation-bar button.active {
  color: #fff;
  font-weight: bold;
}
